/* The main containers for the module, specific to this module. */
.h5p-mark-the-words {
  position: relative;
  background: var(--h5p-theme-ui-base, #fff);
  overflow: hidden;
}
.h5p-mark-the-words-descriptions {
  display: none;
}
.h5p-mark-the-words .h5p-word-inner {
  background-color: var(--h5p-theme-alternative-light, #f8f9fe);
  padding: 0 var(--h5p-theme-spacing-s, 1rem);
  border: solid 1px var(--h5p-theme-alternative-base, #8996e4);
  border-radius: var(--h5p-theme-border-radius-medium, 0.375rem);
  margin: 0 0 var(--h5p-theme-spacing-s, 1rem);
  color: var(--h5p-theme-text-secondary, #2c0f03);
}
/* Actual text paragraphs */
.h5p-mark-the-words .h5p-word-inner p {
  padding: 0;
  margin: 0;
  color: var(--h5p-theme-text-secondary, #2c0f03);
  font-size: var(--h5p-theme-font-size-m, 1rem);
  font-weight: normal;
  font-weight: 500;
}
.h5p-mark-the-words button.h5p-button:before {
  padding-right: var(--h5p-theme-spacing-xxs, 0.5rem);
}
/* Selectable words container */
.h5p-mark-the-words .h5p-word-selectable-words {
  outline: none;
  line-height: var(--h5p-theme-spacing-xl, 3rem);
}
/* Selectable words*/
.h5p-mark-the-words [role="option"] {
  white-space: nowrap;
  border-radius: var(--h5p-theme-border-radius-small, 0.25rem);
  position: relative;
  border: 1px solid transparent;
}
.h5p-mark-the-words [role="option"]:focus-visible {
  outline: 2px ridge var(--h5p-theme-contrast-cta-white, #1a73d9);
  border-radius: 4px;
  outline-offset: 2px;
}
.h5p-mark-the-words .h5p-question-plus-one, .h5p-mark-the-words .h5p-question-minus-one {
  position: unset;
}
.h5p-mark-the-words .h5p-question-minus-one-container, .h5p-mark-the-words .h5p-question-plus-one-container {}
.h5p-mark-the-words .h5p-word-selectable-words:not(.h5p-disable-hover) [role="option"]:hover {
  box-shadow: 0 0 0.5em 0 var(--h5p-theme-main-cta-base, #1a73d9);
  border-color: var(--h5p-theme-contrast-cta-white, #1a73d9);
  background-color: var(--h5p-theme-ui-base, #fff);
  cursor: pointer;
}
/* Colors and styling for word selections */
.h5p-mark-the-words [aria-selected="true"] {
  background: var(--h5p-theme-contrast-cta-light, rgba(26, 115, 217, 0.1));
  border: 3px solid var(--h5p-theme-contrast-cta-white, #1a73d9);
  /* !important overriding outline from h5p.css force us to use border */
}
/* Missed word*/
.h5p-mark-the-words [aria-describedby="h5p-description-missed"] {
  color: var(--h5p-theme-feedback-correct-main, #256d1d);
  font-weight: bold;
  border: 2px var(--h5p-theme-feedback-correct-main, #256d1d) dashed;
  background-color: var(--h5p-theme-feedback-correct-secondary, #f3fcf0);
  padding: calc(var(--h5p-theme-spacing-xs, 0.65rem) / 2);
  border-radius: var(--h5p-theme-border-radius-medium, 0.375rem);
  margin-left: var(--h5p-theme-spacing-xxs, 0.5rem);
}
/* Correctly answered marking */
.h5p-mark-the-words [aria-describedby="h5p-description-correct"] {
  display: inline-flex;
  line-height: 1;
  color: var(--h5p-theme-feedback-correct-main, #256d1d);
  background-color: var(--h5p-theme-feedback-correct-secondary, #f3fcf0);
  border: 1px solid var(--h5p-theme-feedback-correct-third, #cff1c2);
  padding: calc(var(--h5p-theme-spacing-xs, 0.65rem) / 2);
  font-weight: 600;
}
/* Wrongly answered marking */
.h5p-mark-the-words [aria-describedby="h5p-description-incorrect"] {
  display: inline-flex;
  line-height: 1;
  padding: calc(var(--h5p-theme-spacing-xs, 0.65rem) / 2);
  color: var(--h5p-theme-feedback-incorrect-main, #a13236);
  background-color: var(--h5p-theme-feedback-incorrect-secondary, #faf0f4);
  border: solid 2px var(--h5p-theme-feedback-incorrect-third, #f6dce7);
  font-weight: bold;
}
/* Feedback icons */
.h5p-mark-the-words [aria-describedby="h5p-description-correct"]:after {
  position: relative;
  right: calc(var(--h5p-theme-spacing-s, 1rem)*0.1);
  text-decoration: none;
  content: "\e903";
  font-family: 'h5p-theme';
  color: var(--h5p-theme-feedback-correct-main, #256d1d);
  padding-left: calc(var(--h5p-theme-spacing-s, 1rem)*0.75);
}
.h5p-mark-the-words [aria-describedby="h5p-description-incorrect"]:after {
  position: relative;
  right: calc(var(--h5p-theme-spacing-s, 1rem)*0.1);
  display: inline-flex;
  font-family: 'h5p-theme';
  text-decoration: none;
  content: "\e902";
  color: var(--h5p-theme-feedback-incorrect-main, #a13236);
  padding-left: calc(var(--h5p-theme-spacing-s, 1rem)*0.75);
}
.h5p-mark-the-words .h5p-question-plus-one-container, .h5p-mark-the-words .h5p-question-minus-one-container {
  background: var(--h5p-theme-ui-base, #fff);
  position: absolute;
  width: 1.923076923em;
  height: calc(1.923076923em* 0.638297872);
  background-size: 100% 100%;
  right: -1.615384615em;
  top: -0.846153846em;
  z-index: 1;
  opacity: 1;
  transition: opacity 150ms linear, transform 150ms linear;
}
/* SPECIFIC CSS CLASSES FOR MARK THE WORDS MODULE: */
/* Start state for button: */
.h5p-mark-the-words button.h5p-button.h5p-check-button:before {
  content: "\f058";
}
.h5p-mark-the-words button.h5p-button.h5p-retry-button:before {
  content: "\f021";
}
.h5p-mark-the-words button.h5p-button.h5p-check-button {
  display: inline-block;
}
.h5p-mark-the-words button.h5p-retry-button.h5p-retry-button {
  display: none;
}
.h5p-mark-the-words .hidden-but-read {
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}

.h5p-mark-the-words .groups_unread {
 border: thin solid #90b6e3;
 border-radius: .25em;
}
.h5p-mark-the-words .h5p-description-remove-mistake {
  display: none;
}

.h5p-mark-the-words .noPadding {
  padding-left: 0;
  padding-right: 0;
  margin-left: -0.1em;
  margin-right: 0.1em;;
}

.h5p-mark-the-words .removePipe {
  pointer-events: none;
  padding: 0 ;
}

.h5p-mark-the-words .keepanswer:after,
.h5p-mark-the-words .no-ticks:after {
  content: "";
  padding-left: 0px;
}
.h5p-mark-the-words .keepanswer:hover {
  box-shadow: inset 0px 0px 0px 2px #9dd8bb !important;
}

/* Answer already found and keep correct answers option selected. */
.h5p-mark-the-words .keepanswer {
  cursor: text!important;
}

.h5p-mark-the-words .hide-ticks:after {
  content: ""!important;
  padding-left: 0em;
}

.h5p-mark-the-words .check {
  background-image: url(../images/check.svg);
}

.h5p-mark-the-words .cross {
  background-image: url(../images/cross.svg);
}
